<div id="loginPanel" style="width:50%">
	<h2><span class="glyphicon glyphicon-lock"></span> Login </h2>
	<form class="form-horizontal" ng-submit="signin()" role="form" name="form">
		<div class="form-group">
			<label for="email" class="control-label"> Email </label>
			<input type="email" class="form-control" ng-model="email" id="email" placeholder="Your Email">
		</div>
		<div class="form-group">
			<label for="pwd" class="control-label"> Password </label>
			<input type="password" class="form-control" ng-model="pwd" id="pwd" placeholder="Your Password">
		</div>
		<div class="form-group">
			<div >
				<button class="btn btn-default" type="submit" ng-click="signin()">Sign In</button>
			</div>
			
		</div>
	</form>
</div>